<section class="home" id="home">

  <div class="row">

      <div class="content">
          <h3 class="side">upto 75% off</h3>
          <p class="side">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
          <a href="#" class="btn side">shop now</a>
      </div>

      <div class="swiper books-slider">
          <div class="swiper-wrapper">
              <a href="#" class="swiper-slide"><img src="/assets/img/book-5.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/assets/img/book-6.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/assets/img/book5.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/assets/img/book-6.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/assets/img/book-6.png" alt=""></a>
              <a href="#" class="swiper-slide"><img src="/assets/img/book-6.png" alt=""></a>
          </div>
          <img src="/assets/img/stand.png" class="stand" alt="">
      </div>

  </div>

</section>
